@import url('myStyles.css');
body {
   
}

h1 {
   color: #97CA51;
}


#header {
    width: 100%;
}
#maincontent {
    width: 80%;
    align-content:center;
    margin: 40px;
}


#copyright{

    font-size:x-large;
     align-content:center;
     background-color:#97ca51;
    top: 240px;
    left: 118px;
}

#footerContent {

    width:100%;
}
